.env
.throwaway*
.vscode

run.bat

*__pycache__

resources/*/*

# It is beyond silly that i have to do this
!data/
data/*
!data/models
data/models/*
!data/models/lpips
data/models/lpips/*
!data/models/lpips/vgg.pth

# Thesis ignores
doc/thesis/images/*
*.aux
*.log
*.toc
*.out
*.lof
*.lol